* {
  box-sizing: border-box;
}

html {font-size: 1em;}

body {
  font-family: 'Mukta', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.563em;
  text-transform: uppercase;
  color: navy;
  letter-spacing: 2px;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

.container {
  background: #fafafa;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5em;
}

.container h1 {
  margin-left: 0.5em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1%;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
  width: 275px;
}

.card:hover {
  box-shadow: .01em .01em 0.2em rgba(47,79,79,0.5);
}

.card-img img {
  width: 72px;
  height: 72px;
  background: #444;
  box-shadow: 0 0 1px rgba(100,100,100,0.5);
  border-radius: 50%;
  margin-right: calc(20/16 * 1em);
}

.card-content,
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content p,
.card-details p {
  margin: 0;
}

.card-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.card-city,
.card-address {
  text-transform: capitalize;
}

.overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none; /* hide on page load */
}

.overlay .card {
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: center;
  display: none; /* hide on page load */
}

.overlay .card-img img {
  width: 100px;
  height: 100px;
}

.overlay .card-content,
.overlay .card-details {
  align-items: center;
}
/*
.overlay .card + .card {
    transform: translateX(100vw);
    position: absolute;
    top: 10%;
    left: 50%;
} */

.close-modal {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 3em;
  font-weight: 700;
}

.card-details {
  border-top: 1px solid rgba(155,155,155,0.4);
  margin-top: calc(20/16 * 1em);
  padding-top: calc(20/16 * 1em);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 3em;
  }

  .overlay .card {
    width: 50%;
  }

}

@media screen and (min-width: 1024px) {
  .overlay .card {
    width: 33%;
  }

  .card {
    width: 280px;
  }
}
