* {
  box-sizing: border-box;
}

html {font-size: 1em;}

body {
  font-family: 'Mukta', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 1.563em;
  text-transform: uppercase;
  color: #23238E;
  letter-spacing: 2px;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

#search {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  margin-left: 15%;
  font-size: 1.125em;
  border: 2px solid #ccc;
}

#search:focus {
  border: 2px solid #FFEB3B;
}

.container {
  background: #fafafa;
  /* max-width: 1120px; */
  margin: 0 auto;
  padding: 1.1em;
}

.container h1 {
  margin-left: 15%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 1%;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  transition: box-shadow 0.3s ease-out;
  cursor: pointer;
  max-width: 100%;
  width: 350px;
  /* flex: 1 1 290px; */
}

.card:hover {
  box-shadow: .01em .01em 0.2em rgba(47,79,79,0.5);
}

.card-img img {
  width: 48px;
  height: 48px;
  background: #444;
  box-shadow: 0 0 1px rgba(100,100,100,0.5);
  border-radius: 50%;
  margin-right: 1em;
}

.card-content,
.card-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-content p,
.card-details p {
  margin: 0;
}

.card-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}

.card-city,
.card-address {
  text-transform: capitalize;
}

.overlay {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 100%; /* hide on page load */
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: left 0.4s ease-in-out;
}

.prev {
  background: rgba(0,0,0,0.9);
  color: #fff;
  position: absolute;
  top: 45%;
  left: 5%;
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
}

.next {
  background: rgba(0,0,0,0.9);
  color: #fff;
  position: absolute;
  top: 45%;
  left: 85%;
  font-weight: 700;
  text-transform: lowercase;
  font-size: 1.1em;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  padding: 10px;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  color: #FFEB3B;
}

.prev:hover {
  transform: translateX(-5px);
}

.next:hover {
  transform: translateX(5px);
}

.overlay .card {
  flex-direction: column;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: center;
  display: none; /* hide on page load */
}

.overlay .card-img img {
  width: 100px;
  height: 100px;
}

.overlay .card-content {
  font-size: 1em;
}

.overlay .card-content,
.overlay .card-details {
  align-items: center;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 3em;
  font-weight: 700;
}

.card-details {
  border-top: 1px solid rgba(155,155,155,0.4);
  margin-top: calc(20/16 * 1em);
  padding-top: calc(20/16 * 1em);
}

@media screen and (min-width: 768px) {
  .container {
    padding: 2em;
  }
  .container h1,
  #search {
    margin-left: 7%;
  }
  .card {
    flex-wrap: nowrap;
    max-width: 48%;
  }

  .card-img img {
    width: 60px;
    height: 60px;
  }
  .overlay .card {
    width: 50%;
  }

  .prev {
    left: 16%;
  }
  .next {
    left: 80%;
  }

}

@media screen and (min-width: 1024px) {
  .card {
    max-width: 31%;
  }
  .overlay .card {
    width: 33%;
  }

  .card-img img {
    width: 72px;
    height: 72px;
  }
  .prev {
    left: 23%;
  }
  .next {
    left: 75%;
  }

}
